<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self'"
    />
    <meta name="description" content="$TEMPLATE_META_DESCRIPTION" />
    <link rel="icon" type="image/x-icon" href="$TEMPLATE_FAVICON_ICO" />
    <link
      rel="icon"
      type="image/png"
      href="$TEMPLATE_FAVICON_16"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="$TEMPLATE_FAVICON_32"
      sizes="32x32"
    />
    <link rel="stylesheet" href="$TEMPLATE_STYLESHEET" />
    <title>$TEMPLATE_TITLE</title>
  </head>
  <body>
    <h1>
      $TEMPLATE_LOGO
      $TEMPLATE_TITLE
    </h1>
    $TEMPLATE_BODY
    <hr />
    <p>
      <em
        >Copyright &copy; $TEMPLATE_COPYRIGHT_YEAR
        $TEMPLATE_COPYRIGHT_ENTITY</em
      >
    </p>
    <p><em>All rights reserved</em></p>
  </body>
</html>
